//@import 'header.sass'

.btn_container
	width: 80%
	height: 300px
	margin: 0 auto
	text-align: center

	.btn
		background: #ccc
		padding: 10% 20%

.schedule
	width: 70%
	margin: 0 auto

	table
		tr
			height: 60px		
		
		.header-row
			height: 30px !important
			th
				text-align: center

		.left-row
			width: 5%
			text-align: center
