@import 'loginModal.css'


*
	padding: 0
	margin: 0

.gvs-btn
	font-size: 3em !important
	padding: 50px 80px

.gvs-btn-sm
	font-size: 2.2em !important
	padding: 40px 70px

.navbar-default 
	.orange-color
		color: rgba(245, 114, 35, 1) !important

.schedule
	tr
		th 
			height: 30px
			border: 1px solid black !important
			text-align: center
		td
			border: 1px solid black !important

			.teacher-name
				font-style: italic
				margin: 8px
			.class-name
				font-style: bold
				margin: 8px
				float: right
			.subject-name
				margin: 8px
				font-size: 1.2em
